.body {
  box-sizing: border-box;
}
.navbar-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.navbar-fixed-top-2 {
  position: fixed;
  top: 60px;

  left: 0;
  width: 100%;
  z-index: 1;
}
.navba-in {
  position: fixed;
}
.nav-secend {
  width: 100%;
  margin-top: 85px;
}
.logo-in {
  height: 60px;
  width: 190px;
}
.nav-in {
  display: flex;
}
.btn-in {
  width: 130px;
  border: none;
  border-radius: 10px;
  height: 50px;
  font-size: 20px;
  font-weight: 550;
  background-color: rgb(122, 169, 60);
  color: aliceblue;
}
.btn-in:hover {
  background-color: rgb(134, 214, 31);
}
.custom-icon {
  height: 50px;
}

.m-div {
  align-items: baseline;
  height: 10px;
  width: 40px;
  background-color: rgb(255, 192, 80);
}
.m-div-2 {
  align-items: baseline;
  height: 20px;
  width: 400px;
  background-color: rgb(255, 192, 80);
}
.text-div {
  line-height: 0px;
}
.text-decoration-none {
  line-height: 0px;
}
.text {
  font-size: 48px;
}
.custom-section-card {
  margin-top: 200px;
}
.custom-image {
  height: auto;
}
.hover-img {
  transition: all 0.4s;
  box-shadow: 0 0 10px gray;
}
.hover-img:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px 3px rgb(219, 219, 219);
}
.heading-div {
  height: auto;
  width: 100%;
  align-items: center;
  text-align: center;
}
.div {
  height: auto;
  width: 50%;
  margin: auto;
  margin-top: 170px;
  margin-bottom: 100px;
  line-height: 60px;
}
.custom-image-1 {
  height: 100px;
  width: 100px;
  margin: auto;
}
.card-text {
  line-height: 40px !important;
}
.bannar {
  height: auto;
  align-items: center;
  background-color: rgb(241, 241, 241);
  line-height: 40px;
}
.custom-bannar-img {
  height: 500px;
  background-image: url(../assets/bannar.png);
  background-repeat: no-repeat;
  /* z-index:2; */
}
.img {
  z-index: -1;
  background-image: url(./assets/phone.png);
}

.row-gap-5 {
  gap: 100px !important;
}

.icon {
  height: 40px;
  width: 40px;
}

/* 
============= */
.bannar-in {
  display: block;
  margin-top: 100px;
}
.bannar-in-img {
  background-image: url(../assets/clouds3.png);
  background-color: #d2e9f7;
}
.bannar-text {
  width: 100%;
  height: 500px;
  margin: auto;
  align-items: center;
  text-align: center;
  display: flex;
  background-image: url(../assets/clouds1.png);
}
.text-in {
  gap: 50px;
  height: auto;
  width: 600px;
  margin: auto;
}
.btn {
  height: 50px;
  width: 200px;
  font-weight: 700;
  border: bold;
}
.heading {
  line-height: 50px;
  font-size: 50px;
  font-weight: 670;
  color: #314863;
  font-family: "Nunito", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.bannar-img {
  display: block;
  margin: auto;
  width: 85%;
  z-index: -1;
}
.img {
  margin-left: 50%;
  transform: translate(-50%);
  box-sizing: border-box;
  width: 50%;
  height: 350px;
}
